@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
#signInStyle {
    display: flex;
    justify-content: center; /* Yatay ortala */
    flex-direction: column; // button ortalandı
    align-items: center; /* Dikey ortala */
    height: 70vh;
    #inputs {
        .fields {
            a{
                display: block;
                margin-top: 10px;
                color: hsla(175, 75%, 27%, 0.849);
                margin-left: 1%;
            }
        }
        .label{
            text-align: center;
            font-family: 'Comfortaa', sans-serif;
        }
        .input{
            width: 300px;
            height: auto;
            display: block;
            font-family: 'Comfortaa', sans-serif;
            border: 2px solid black;
            border-right-color: white;
            border-left-color: white;
            border-top-color: white;
            border-bottom-color: black;
            transition: border-bottom-left-radius 0.5s;
        }
        .input:focus {
            outline:none;
            box-shadow: 0 0 0 2px rgba(191, 191, 191, 0.333);
            border-bottom-left-radius: 20px;
        }
        .label:last-of-type{
            margin-top: 50px;
        }
    }
    .buttonWrapper {
        display: flex;
        justify-content: center;
        .btn {
            width: 90px;
            height: 35px;
            font-family: 'Comfortaa', sans-serif;
            background: none;
            border: 1px solid black;
            border-radius: 15px;
            outline: none;
            cursor: pointer;
            margin-top: 30px;
        }
    }
}

.validFormat{
    border-bottom-color: darkgreen!important;
}
.invalidFormat {
    border-bottom-color: darkred!important;
}
.miniInfoText{
    opacity: 0.5;
    font-size: 12px;
    margin-left: 1%;
}
.shake{
    animation: shakeIt 0.7s ease;
}

@keyframes shakeIt{
    0%{
        transform: translateX(0px);
    }
    25% {
        transform: translateX(-25px);
    }
    50% {
        transform: translateX(25px);
    }
    100%{
        transform: translateX(0px);
    }
}