.mobile-alert h1{
  font-size: 20px;
  text-align: center;
  margin-top: 150px;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(174, 174, 181, 0.8); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(217,217,227,.8); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(174, 174, 181, 1); 
}
