footer{
    border-top: 1px solid rgb(245, 233, 233);
    box-shadow: 1px 0px 10px 8px rgb(245, 244, 244);
    width: 100%;
    height: auto;
    bottom: 0 !important;
    padding: 30px 0px 30px 0px;
}

@media (max-width: 420px) {
    footer {
        position: absolute;
    }
}