@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,300&display=swap');
#entrie{
  display: flex;
  flex-wrap: wrap;
  padding-top: 100px;
  padding-bottom: 130px;
  flex-direction: column;
}

.first-section{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
   margin: 3% 0px 0px 0%;
}
.second-section{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.chart {
  width: 700px;
  height: 400px;
}

#demo-chart{
  flex-direction: column;
  justify-content: center;
  flex: 1;
  width: 100%;
  height: 100%;
  right: 0;
  padding-top: 200px;
  h2 {
    margin-left: 92px;
    margin-bottom: 10px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 13px;
  }
  .b-place{
    margin-left: -24px;
  }
}
#demo-chart button{
  padding: 10px;
  border-radius: 10px;
  background: none;
  outline: none;
  border: 1px solid black;
  font-family: 'Comfortaa', cursive;
  margin-right: 10px;
  &:first-of-type{
    margin-left: 90px;
  }
  &:last-of-type{
    margin-right: 0;
  }
}
.intro {
  flex: 1;
  font-family: 'Comfortaa', cursive;
  width: 50%;
  height: 100%;
  padding: 10px;
  margin: 0% 0px 0px 3%;
  h1 {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.1px;
    line-height: 50px;
    text-transform: capitalize;
    text-align: left;
    font-style: normal;
  }
}

.intro2 {
  flex: 1;
  font-family: 'Comfortaa', cursive;
  width: 50%;
  height: 100%;
  padding: 10px;
  margin: 17% 0px 0px 3%;
  h1 {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.1px;
    line-height: 50px;
    text-transform: capitalize;
    text-align: left;
    font-style: normal;
  }
}

.home-right-bg{
  flex: 1;
  width: 800px;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -10000000;
  right: -6%;
  top: 30%;
  transform: scale(0.9);
  .custom-img-1 {
    z-index: 3;
    position: absolute;
    transform: scale(41);
    filter: brightness(0) contrast(0.5) opacity(0.4);
    background-color: hsl(240, 46%, 75%);
    opacity: 1;
  }
  .custom-img-2 {
    z-index: 1;
    position: absolute;
    transform: scale(43);
    filter: brightness(0) contrast(0.5) opacity(0.3);
    background-color: hsl(240, 95%, 25%);
    opacity: 1;
  }
  img{
    -webkit-mask:url(https://i.ibb.co/mBrmH0k/Mf15d.png) center/contain no-repeat;
    filter: brightness(0.66) contrast(0.90) opacity(0.9);
    width: auto;
    height: auto;
    //animation: dagil 5s linear infinite;
  }
  .model{
    transform: scale(1.28);
    z-index: 100000;
  }
//   @keyframes dagil {
//    0% {
//      clip-path: circle(10% at 50% 50%);
//    }
//    100% {
//      clip-path: circle(100% at 50% 50%);
//    }
//  }
}