$linkColor:rgb(52, 46, 46);
.monoxia-router {
    color:$linkColor;
}

#monoxia-navbar{
}

.navbar {
    border-bottom: 1px solid rgb(245, 233, 233);
    box-shadow: 1px 0px 40px 8px rgb(237, 233, 233);
    position: fixed;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    .navbar-brand {
        .navbar-item img{
            transform: scale(1.2);
            margin: 2px 3.3px 0px 13px;
        }
    }
}

.login {
        display: none;
    }

.nbm{
    display: none;
}