@font-face {
  font-family: "Fontspring";
  src:
    local("Fontspring"),
    url("../../public/fonts/Fontspring-DEMO-theseasons-reg.otf") format("opentype")
}

#monoxia-navbar{
    width: 1000vh;
    height: 80px;
    background-color: #1B1A16;
    display: flex;
    .logo{
        img{
            margin: 0px 0px 0px 20px;
        }
    }
    .description{
        h1{
        font-family: Fontspring;
        color:#D4B1A3;
        max-width: 130px;
        }
        margin: 60px 0px 0px 0px;
    }
}
