@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,300&family=Nunito:wght@500&display=swap');
.aboutbox {
  display: flex;
  align-items: center;
  border: 1px solid rgb(212, 210, 210);
  width: 800px;
  height: 500px;
  border-radius: 40px;
  padding: 30px;
  margin: 0 auto;
  margin-top: 4%;
  background-color: #fefffe;
  box-shadow: 0px 3px 15px 4px rgb(201, 195, 195);
  font-family: 'Montserrat Alternates', sans-serif;
  font-family: 'Nunito', sans-serif;

  .fields {
    flex: 1;
    padding-right: 20px;
    border-right: 1px solid rgb(236, 227, 227);
    text-align: center;

    h1{
        font-size: 40px;
        color:#4d49b8;
        margin-bottom: 2%;
    }
  }

  .right-bg {
    flex: 1;
    text-align: center;
    padding-left: 20px;
    float: left;
    img{
        max-width: 100%;
        border-radius: 10px;
    }
  }
  .right-bg-mobile{
    display: none;
  }
}

/* MOBILE */

@media (max-width: 420px) {
  .aboutbox {
    width: 100%;
    height: 100%;
    display:block;
    border: 0px solid rgb(212, 210, 210);
    border-radius: 0px !important;
    box-shadow: 0px 3px 15px 4px rgb(227, 215, 215);
    background-color: #fefffe;
    padding: 30px;
    margin: 0 0 20% 0;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Nunito', sans-serif;

  .fields {
    text-align: center;
    border-right: 1px solid transparent;
    h1{
        font-size: 40px;
        color:#4d49b8;
        margin-bottom: 3%;
    }
  }

  .right-bg {
    display: none;
  }

  .right-bg-mobile {
    text-align: center;
    float: left;
    display: block;
    img{
        max-width: 100%;
        border-radius: 10px;
    }
  }
}
}