.sent{
    color:green;
    text-align: center;
}
.contactbox {
  display: flex;
  align-items: center;
  border: 1px solid rgb(212, 210, 210);
  width: 800px;
  height: 500px;
  border-radius: 40px;
  padding: 30px;
  margin: 0 auto;
  margin-top: 4%;
  background-color: #fefffe;
  box-shadow: 0px 3px 15px 4px rgb(201, 195, 195);

  .fields {
    flex: 1;
    padding-right: 20px;
    border-right: 1px solid rgb(236, 227, 227);
    .label {
        display: block;
        margin-bottom: 5px;
        color: rgba(148,173,224,255);
        margin-left: 1.5%;
    }

    .input {
        width: 100%;
        padding: 5px;
        margin-bottom: 10px;
        border-radius: 30px;
        background-color: #fefefee3;
        text-align: center;
    }

    textarea::first-letter{
        margin-left: 10px;
    }

    textarea{
        height: 150px;
    }

    .button{
        margin-left: 0.5%;
        border-radius: 20px;
        background-color: #fefefee3;
    }
  }

  .right-bg {
    flex: 1;
    text-align: center;
    padding-left: 20px;
    img{
        max-width: 100%;
        border-radius: 10px;
    }
  }
}

.right-bg-mobile{
    display: none;
}

@media (max-width: 420px) {
    .sent{
    color:green;
    text-align: center;
}
.contactbox {
  align-items: center;
  border: 1px solid rgb(212, 210, 210);
  width: 100%;
  height: 100%;
  border-radius: 0px !important;
  padding: 30px;
  margin: 0 0 20% 0;
  background-color: #fefffe;
  display: block;
  box-shadow: 0px 3px 15px 4px rgb(201, 195, 195);

  .fields {
    padding-top: 3%;
    border-right: 1px solid transparent;
    .label {
        display: block;
        margin-bottom: 5px;
        color: rgba(148,173,224,255);
        margin-left: 1.5%;
    }

    .input {
        width: 100%;
        padding: 5px;
        margin-bottom: 10px;
        border-radius: 30px;
        background-color: #fefefee3;
        text-align: center;
    }

    textarea::first-letter{
        margin-left: 10px;
    }

    textarea{
        height: 150px;
    }

    .button{
        margin-left: 0.5%;
        border-radius: 20px;
        background-color: #fefefee3;
    }
  }

  .right-bg {
    display: none;
  }

  .right-bg-mobile {
    text-align: center;
    padding-left: 20px;
    display: block;
    img{
        max-width: 100%;
        border-radius: 10px;
    }
  }
}
}